.container {
  width: 80%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  justify-self: center;
  cursor: pointer;
  place-items: center;
}
.img {
  width: 80%;
  height: 60%;
  border: none;
  border-radius: 100px;
}
.title{
    text-align: center;
    color: #386641;
}



/* Responsive */

@media (max-width: 600px) {
  .title{
    font-size: 0.8rem;
  }
}